<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="app">
    <div id="top">
        <button (click)="open()" id="accent" mat-raised-button color="accent">Add a Company Staff</button>
    </div>
    <div [style.display]=display id="staff">
    <h4>Add Company Staff for CASTORAMA France SAS</h4>
    <mat-icon (click)="closed()"  id="cancel">cancel</mat-icon>
    <input type="email" placeholder="Mail">
    <div id="row2">
        Civility* 
        <input value="Mr" type="checkbox">
        Mr
        <input value="Mrs" type="checkbox">
        Mrs
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Position">
    </div>
    <div id="row3">
        <input type="number" placeholder="Office Phone">
        <input type="number" placeholder="Direct Line">
        <input type="number" placeholder="Mobile Phone">
    </div>
    <div id="row4">
            <mat-label>Company</mat-label>
            <select matNativeControl required>
              <option value="Company">Company</option>
            </select>
            <mat-label>User Type</mat-label>
            <select matNativeControl required>
              <option value="Company">Company</option>
            </select>
    </div>
    <div id="row5">
        <button id="warning" mat-raised-button color="warning">Cancel</button>
        <button mat-raised-button >Submit</button>
    </div>
    </div>
<table border>
  <thead>
      <tr >
          <th>Name</th>
          <th>User Type</th>
          <th>Entity</th>
          <th>Status</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <ng-container *ngFor="let user of data">
      <tr>
          <td>{{ user.last_name + " " + user.first_name + " " + user.civility }}</td>
          <td>{{ user.company.user_type }}</td>
          <td>{{ user.company.name }}</td>
          <td>
          <ng-container *ngIf="user.user_status == 'pending';then  public;">
        </ng-container>
        <ng-container *ngIf="user.user_status == 'active';then  users;">
        </ng-container>
        <ng-template #users>
            <mat-icon id="green">check_circle_outline</mat-icon>
        </ng-template>
        <ng-template #public>
            <mat-icon>check_circle_outline</mat-icon>
        </ng-template>
    </td>
          <td><mat-icon>create</mat-icon><mat-icon> email</mat-icon>	<mat-icon>cancel</mat-icon></td>
      </tr>
    </ng-container>
  </tbody>
</table>
</div>
<!-- Toolbar -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
